# Julia DataFrames.jl 介紹

# Day 017 作業：載入 COVID-19 資料集

今天的作業將使用 `DataFrames.jl` 及 `CSV.jl` 套件，來載入美國約翰霍普金斯大學提供的 COVID-19 資料集 (2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE)。資料集作為教育及研究使用，並且被用來建立視覺化儀表板提供檢視及追蹤 COVID-19 疫情狀況。

資料集 GitHub: [https://github.com/CSSEGISandData/COVID-19](https://github.com/CSSEGISandData/COVID-19)

資料集格式為 CSV，整合不同資料來源，主要分為 Daily Report 及時間序列資料。

請自行下載 2020/4/2 的 daily report資料集：[https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/04-02-2020.csv](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/04-02-2020.csv)

Daily Report 主要欄位有：

- Province/State: 省名 (中國)、州名或市名 (美國、加拿大、澳洲)、或是事件名稱 (例如鑽石公主號)...
- Country/Region: 國名或區域名
- Last Update: 最後更新日期/時間，格式為 24 小時制的 UTC 時間
- Confirmed: 確診案例
- Deaths: 死亡案例
- Recovered: 康復案例
- Lat, Long: 經緯度
- Combined Key: 複合 Key 值

In [1]:
using DataFrames, CSV

┌ Info: Precompiling CSV [336ed68f-0bac-5ca0-87d4-7b16caf5d00b]
└ @ Base loading.jl:1260

In [27]:
df =CSV.read("04-02-2020.csv")# 撰寫讀取 CSV 檔的程式碼
first(df,5)

5×12 DataFrame. Omitted printing of 8 columns
│ Row │ FIPS   │ Admin2    │ Province_State │ Country_Region │
│     │ Int64⍰ │ String⍰   │ String⍰        │ String         │
├─────┼────────┼───────────┼────────────────┼────────────────┤
│ 1   │ 45001  │ Abbeville │ South Carolina │ US             │
│ 2   │ 22001  │ Acadia    │ Louisiana      │ US             │
│ 3   │ 51001  │ Accomack  │ Virginia       │ US             │
│ 4   │ 16001  │ Ada       │ Idaho          │ US             │
│ 5   │ 19001  │ Adair     │ Iowa           │ US             │

請問此資料集的筆數 (row) 及欄位數 (column) 各是多少？

In [28]:
# 請在此輸入程式碼
rows,column=size(df)
println("rows: ",rows,"\ncolumn: ",column)

rows: 2569
column: 12

In [29]:
# 彙總 DataFrame 資訊
describe(df)

12×8 DataFrame. Omitted printing of 4 columns
│ Row │ variable       │ mean     │ min                 │ median   │
│     │ Symbol         │ Union…   │ Any                 │ Union…   │
├─────┼────────────────┼──────────┼─────────────────────┼──────────┤
│ 1   │ FIPS           │ 30958.4  │ 66                  │ 29093.0  │
│ 2   │ Admin2         │          │ Abbeville           │          │
│ 3   │ Province_State │          │ Alabama             │          │
│ 4   │ Country_Region │          │ Afghanistan         │          │
│ 5   │ Last_Update    │          │ 2020-02-23 11:19:02 │          │
│ 6   │ Lat            │ 36.2992  │ -42.8821            │ 37.7171  │
│ 7   │ Long_          │ -78.9577 │ -159.597            │ -86.5104 │
│ 8   │ Confirmed      │ 394.378  │ 0                   │ 7.0      │
│ 9   │ Deaths         │ 20.624   │ 0                   │ 0.0      │
│ 10  │ Recovered      │ 81.8462  │ 0                   │ 0.0      │
│ 11  │ Active         │ 199.29   │ 0                   │ 0.0      │
│ 12  │ Combined_Key   │          │ ,,Belize            │          │

### 作業1：數值 Column 的計算

請問截至4月2日為止 (UTC 時間)，全球累計的確診、死亡、及㡽復案例數各是多少？

【提示】可參考 `sum()` 內建函式。

In [30]:
df2=df[:,[:Confirmed,:Deaths,:Recovered]]

2569×3 DataFrame
│ Row  │ Confirmed │ Deaths │ Recovered │
│      │ Int64     │ Int64  │ Int64     │
├──────┼───────────┼────────┼───────────┤
│ 1    │ 6         │ 0      │ 0         │
│ 2    │ 61        │ 1      │ 0         │
│ 3    │ 10        │ 0      │ 0         │
│ 4    │ 312       │ 3      │ 0         │
│ 5    │ 1         │ 0      │ 0         │
│ 6    │ 6         │ 0      │ 0         │
│ 7    │ 9         │ 0      │ 0         │
│ 8    │ 212       │ 2      │ 0         │
│ 9    │ 1         │ 0      │ 0         │
│ 10   │ 2         │ 0      │ 0         │
⋮
│ 2559 │ 897       │ 22     │ 19        │
│ 2560 │ 1024      │ 8      │ 96        │
│ 2561 │ 33718     │ 2921   │ 135       │
│ 2562 │ 350       │ 4      │ 62        │
│ 2563 │ 205       │ 2      │ 25        │
│ 2564 │ 146       │ 5      │ 43        │
│ 2565 │ 233       │ 0      │ 75        │
│ 2566 │ 161       │ 1      │ 18        │
│ 2567 │ 39        │ 1      │ 0         │
│ 2568 │ 9         │ 1      │ 0         │
│ 2569 │ 0         │ 0      │ 0         │

In [31]:
using Statistics
aggregate(df2,[sum])

1×3 DataFrame
│ Row │ Confirmed_sum │ Deaths_sum │ Recovered_sum │
│     │ Int64         │ Int64      │ Int64         │
├─────┼───────────────┼────────────┼───────────────┤
│ 1   │ 1013157       │ 52983      │ 210263        │

上面解答範例列出確診案例數前 10 名的 Province_State, Country_Region, Confirmed, Deaths, Recovered 等 5 個 column。

In [32]:
df3=sort(df,:Confirmed,rev=true)
df3[1:10,[:Province_State,:Country_Region,:Confirmed,:Deaths,:Recovered]]

10×5 DataFrame
│ Row │ Province_State │ Country_Region │ Confirmed │ Deaths │ Recovered │
│     │ String⍰        │ String         │ Int64     │ Int64  │ Int64     │
├─────┼────────────────┼────────────────┼───────────┼────────┼───────────┤
│ 1   │ missing        │ Italy          │ 115242    │ 13915  │ 18278     │
│ 2   │ missing        │ Spain          │ 112065    │ 10348  │ 26743     │
│ 3   │ missing        │ Germany        │ 84794     │ 1107   │ 22440     │
│ 4   │ Hubei          │ China          │ 67802     │ 3199   │ 63471     │
│ 5   │ missing        │ France         │ 59105     │ 5387   │ 12428     │
│ 6   │ New York       │ US             │ 51809     │ 1397   │ 0         │
│ 7   │ missing        │ Iran           │ 50468     │ 3160   │ 16711     │
│ 8   │ missing        │ United Kingdom │ 33718     │ 2921   │ 135       │
│ 9   │ missing        │ Switzerland    │ 18827     │ 536    │ 4013      │
│ 10  │ missing        │ Turkey         │ 18135     │ 356    │ 415       │

### 作業2：找出特定的 Row

截至4月2日為止 (UTC 時間)，台灣的確診、死亡、及㡽復案例數為多少？

【提示】使用點運算 `.==` 來比較同一 column 中所有值。

In [38]:
df4=df[:,[:Country_Region,:Confirmed,:Deaths,:Recovered]]
df5=aggregate(df4, :Country_Region,sum)
#sort(df5,:Confirmed_sum)

181×4 DataFrame
│ Row │ Country_Region       │ Confirmed_sum │ Deaths_sum │ Recovered_sum │
│     │ String               │ Int64         │ Int64      │ Int64         │
├─────┼──────────────────────┼───────────────┼────────────┼───────────────┤
│ 1   │ US                   │ 243453        │ 5926       │ 9001          │
│ 2   │ Canada               │ 11284         │ 139        │ 1735          │
│ 3   │ United Kingdom       │ 34173         │ 2926       │ 192           │
│ 4   │ China                │ 82432         │ 3322       │ 76565         │
│ 5   │ Netherlands          │ 14788         │ 1341       │ 260           │
│ 6   │ Australia            │ 5116          │ 24         │ 520           │
│ 7   │ Denmark              │ 3573          │ 123        │ 1172          │
│ 8   │ France               │ 59929         │ 5398       │ 12548         │
│ 9   │ Afghanistan          │ 273           │ 6          │ 10            │
│ 10  │ Albania              │ 277           │ 16         │ 76            │
⋮
│ 171 │ Turkey               │ 18135         │ 356        │ 415           │
│ 172 │ Uganda               │ 45            │ 0          │ 0             │
│ 173 │ Ukraine              │ 897           │ 22         │ 19            │
│ 174 │ United Arab Emirates │ 1024          │ 8          │ 96            │
│ 175 │ Uruguay              │ 350           │ 4          │ 62            │
│ 176 │ Uzbekistan           │ 205           │ 2          │ 25            │
│ 177 │ Venezuela            │ 146           │ 5          │ 43            │
│ 178 │ Vietnam              │ 233           │ 0          │ 75            │
│ 179 │ West Bank and Gaza   │ 161           │ 1          │ 18            │
│ 180 │ Zambia               │ 39            │ 1          │ 0             │
│ 181 │ Zimbabwe             │ 9             │ 1          │ 0             │

In [51]:
for i in unique(df[:Country_Region])
    println(i)
end

US
Canada
United Kingdom
China
Netherlands
Australia
Denmark
France
Afghanistan
Albania
Algeria
Andorra
Angola
Antigua and Barbuda
Argentina
Armenia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
Brunei
Bulgaria
Burkina Faso
Burma
Burundi
Cabo Verde
Cambodia
Cameroon
Central African Republic
Chad
Chile
Colombia
Congo (Brazzaville)
Congo (Kinshasa)
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Cyprus
Czechia
Diamond Princess
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Fiji
Finland
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Holy See
Honduras
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Korea, South
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
MS Zaandam
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Mauritania
Mauritius
Mexico
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Namibia
Nepal
New Zealand
Nicaragua
Niger
Nigeria
North Macedonia
Norway
Oman
Pakistan
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Russia
Rwanda
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
San Marino
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Somalia
South Africa
Spain
Sri Lanka
Sudan
Suriname
Sweden
Switzerland
Syria
Taiwan*
Tanzania
Thailand
Timor-Leste
Togo
Trinidad and Tobago
Tunisia
Turkey
Uganda
Ukraine
United Arab Emirates
Uruguay
Uzbekistan
Venezuela
Vietnam
West Bank and Gaza
Zambia
Zimbabwe

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[51]:1
└ @ Core .\In[51]:1

In [56]:
taiwan_no_1=filter(row->row[:Country_Region]=="Taiwan*",df5)
#taiwan_no_1[:,[:Country_Region,:Confirmed_sum,:Deaths_sum,:Recovered_sum]]

1×4 DataFrame
│ Row │ Country_Region │ Confirmed_sum │ Deaths_sum │ Recovered_sum │
│     │ String         │ Int64         │ Int64      │ Int64         │
├─────┼────────────────┼───────────────┼────────────┼───────────────┤
│ 1   │ Taiwan*        │ 339           │ 5          │ 45            │

In [25]:
df = DataFrame(a = repeat([1, 2, 3, 4], outer=[2]),
                      b = repeat([2, 1], outer=[4]),
                      c = 1:8);

In [26]:
df

8×3 DataFrame
│ Row │ a     │ b     │ c     │
│     │ Int64 │ Int64 │ Int64 │
├─────┼───────┼───────┼───────┤
│ 1   │ 1     │ 2     │ 1     │
│ 2   │ 2     │ 1     │ 2     │
│ 3   │ 3     │ 2     │ 3     │
│ 4   │ 4     │ 1     │ 4     │
│ 5   │ 1     │ 2     │ 5     │
│ 6   │ 2     │ 1     │ 6     │
│ 7   │ 3     │ 2     │ 7     │
│ 8   │ 4     │ 1     │ 8     │